---
---
$font-family-sans-serif: 'Asap-Regular';
$headings-font-family: 'Lobster';

//
// Bootstrap components
//
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons"; // Using FontAwesome instead

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
@import "bootstrap/input-groups";
// @import "bootstrap/navs";
// @import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
@import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
@import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

#hero {
  // background-position: center top;
  // background-repeat: no-repeat;
  // background-size: cover;
  // box-sizing: border-box;
  // color: #e5e5e5;
  height: 600px;
  background-color: $brand-success;
  // background-image: url("../img/background.jpg");
  // overflow: hidden;
  // display: block;
  // width: 100%;
  #stripe {
    background-color: rgba(148,190,66,.65);
    height: 600px;
    #logo {
      padding-top: 30px;
    }
    #callout {
      padding-top: 10px;
      color: $gray-lighter;
      p {
        font-size: 2em;
      }
    }
    #dlbtn {
      padding-top: 200px;
      a {
        background-color: #17484c;
        border-color: transparent;
        font-size: 3em;
      }
    }
  }
}

#discover {
  background-color: $gray-lighter;
  background-image: url("../img/ricepaper.png");
  background-repeat: repeat;
  h1 {
    text-align: center;
    color: $brand-success;
    padding: 60px 0;
    font-size: 5em;
    @media (max-width: $screen-xs-min) {
      font-size: 24px;
    }
  }
  #screenshot {
    position: relative; right: -100px;
    @media (max-width: $screen-xs-min) {
      position: relative; left: 0px;
    }
  }
  #icons {
    padding-top: 60px; 
  }
}

#praise {
  /* carousel */
  background-color: $gray-lighter;
  background-image: url("../img/ricepaper.png");
  background-repeat: repeat;
  #geeko {
    background-image: url("../img/geeko-head.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative; left: -20px;
  }
  #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    .carousel-control {
      background: none;
      color: #222;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
    }
    .carousel-control.left {
      left: -25px;
    }
    .carousel-control.right {
      right: -15px !important;
    }
    .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-right: -19px;
      li {
        background: #c0c0c0;
      }
      .active {
        background: #333333;
      }
    }
    img {
      width: 250px;
      height: 100px
    }
    .item blockquote {
      border-left: none; 
      margin: 0;
    }
    .item blockquote img {
      margin-bottom: 10px;
    }
    .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
    }
  }
}

#community {
  padding: 20px 0;
  background-color: #45454a;
  background-image: url("../img/ricepaper.trans.png");
  background-repeat: repeat;
  color: $gray-lighter;
  h1 {
    color: $brand-success;
    padding: 60px 0;
    font-size: 5em;
  }
  #community-picture {
    height: 500px;
    width: 500px;
  }
  .btn-block {
    font-size: 3em;
  }
}

#footer {
  padding: 20px 0 80px 0;
  background-image: url("../img/footer.jpg");
  background-size: cover;
  overflow: hidden;
  color: $gray-lighter;
  a {
    color: $gray-lighter;
  }
  .img-thumbnail {
    margin-top: 10px;
  }
}

.vertical-align {
    display: flex;
    align-items: center;
}

.img-center {
  margin: 0 auto;
}
